<table>
  <thead>
    <tr>
      <th>GPU SERIES</th>
    </tr>
  </thead>
  <tbody>
    <% products.each do |product| %>
      <tr>
        <td><%= link_to product.name, customers_product_path(product), data: { turbo: false } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
